<% include partials/header %>
<div class="about">
	<div class="container">
		<div class="content">
			<div class="page-heading">
				<h1>About</h1>
				<div class="section-underline"></div>
			</div>

			<p>MyWetter website is part of Pablo Albian's web development portfolio. You can find me and my projects under the following links:</p>
			<div class="links">
				<a href="https://www.github.com/pabloalbian" target="_blank"><i class="fab fa-github fa-2x"></i> Github</a>
			</div>			
			
			<div class="section-title">
				<h3>How to use this website</h3>
				<div class="section-underline"></div>
			</div>
			<p>It's very easy! Just go to the homepage and write the name of a city, click on "Get Weather" and it will show you the current temperature, weather and wind conditions.
			<br><br>
			The website will soon have a new login functionality so you can store your favourite cities and check their weather any time.</p>
		</div>
	</div>
</div>
<% include partials/footer %>