<% include partials/header %>

    <div class="initial-form text-center">
        <form action="/" method="POST">
        	<input id="city" name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
    	    <input id="submit" type="submit" class="ghost-button" value="Get Weather">
        </form>
    </div>


<% include partials/footer %>