<h1>Add a new place</h1>

<form action="/places" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="country" placeholder="country">
  <button type="submit">Submit!</button>
</form>
