<% include partials/header %>

<h1>This is the cities page</h1>

<h2>Under construction</h2>

<!-- <% places.forEach(function(place){ %>
  <div>
    <h4><%= place.name %></h4>
    <p><%= place.country %></p>
  </div>
<% }) %>

<% include partials/footer %> -->
