@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background: url(../images/background1.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* NAVBAR Styling */
.navbar {
	padding-top: 2em;
	background:rgba(0, 0, 0, 0)!important;
}

.nav-item a {
	margin: auto 2em;
	text-transform: uppercase;
	color: black;
}

.navbar-brand {
	color: black;
	font-weight: 700;
	font-size: 1.25em;
	letter-spacing: 3px;
}

/* Index Styling */
.initial-form {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}