@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background: url(../images/background3.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100vh;
}

/* NAVBAR Styling */
.navbar {
	padding-top: 2em;
	background:rgba(0, 0, 0, 0)!important;
}

.nav-item a {
	margin: auto 2em;
	text-transform: uppercase;
	color: #76323F!important;
	text-align: center;
}

.navbar-brand {
	color: #76323F!important;
	font-weight: 700;
	font-size: 1.50em;
	letter-spacing: 3px;
}

.navbar-toggler:focus {
	outline: none!important;
}

/* Index Styling */
.initial-form {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}

form input {
	background-color: rgba(0,0,0,.1);
	border: 1px solid #76323F;
  	outline: none;
  	font-weight: bold;
  	font-family: 'Montserrat', sans-serif;
}

#city {
	width: 20%;
}

/* End Index Styling */

/* Show page styling */

.forecast {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}

.forecast h3 {
	font-weight: bold;
}

.heading {
    font-size: 1.9rem; 
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 85%;
    height: .1rem;
    background-color: #76323F;
    margin: 0 auto 2rem;
    
}

.lead {
	font-size: 2em;
}

.fas {
	margin: 1em auto;
}


/* End Show page styling */

/* Media Styling */

@media only screen and (max-width : 768px) {
   	.navbar-collapse { 
   		background-color: rgba(215, 206, 199, 1);
   		margin-right: 1em;
   	}
   	.nav-link {
   		font-weight: bold;
   		font-size: 1.5em;
   	}
}